.footer {
	min-height: var(--footer-height);
	min-width: 100%;
	background-color: var(--footer-background);
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	bottom: 0;
	padding-inline: 2px;
}
.footer-language-counter-container {
	display: flex;
	gap: 1rem;
	margin-left: 0.5rem;
}
footer > * {
	text-align: center;
}
.footer > p {
	margin-left: 1rem;
}

#error {
	font-size: clamp(10px, 1rem, 14px);
	max-width: 50%;
	color: red;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.216);
}

@media (width < 500px) {
	#error {
		display: none;
	}
}
