.footer {
	min-height: var(--footer-height);
	min-width: 100%;
	background-color: rgba(42, 42, 42, 0.936);
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	bottom: 0;
}
footer > * {
	text-align: center;
}
.footer > p {
	margin-left: 1rem;
}

.footer > p:is(#error) {
	font-size: clamp(10px, 1rem, 14px);
	max-width: 50%;
	color: red;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.216);
}

@media (width < 490px) {
	.footer > p:is(#error) {
		display: none;
	}
}
