.articles-feed-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: calc(var(--footer-height) + 20px);
}

.articles-feed-container-list {
	flex-wrap: unset;
	flex-direction: column;
}
