@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.popup-backdrop {
	/* min-width: 100px;
	min-height: 100vh;
	min-height: 100dvh; */
	background-color: rgba(0, 0, 0, 0.495);
	backdrop-filter: blur(3px);

	position: fixed;
	inset: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	z-index: 99;
}
.popup {
	min-width: clamp(30%, 500px, 80%);
	min-height: clamp(40%, 300px, 60%);
	max-height: 90dvh;
	overflow: hidden;

	border-radius: 10px;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

	/* overflow-x: hidden; */
	/* overflow-y: auto; */
}

@keyframes rotation {
	from {
		--gradient-angle: 0deg;
	}
	to {
		--gradient-angle: 360deg;
	}
}

.popup:before,
.popup:after {
	content: "";
	position: absolute;
	inset: 0;
	background: conic-gradient(
		from var(--gradient-angle),
		var(--clr-1),
		var(--clr-2),
		var(--clr-3),
		var(--clr-2),
		var(--clr-1)
	);
	border-radius: inherit;
	animation: rotation 2s linear infinite;
	/* filter: blur(2px); */
}
.popup:before {
	z-index: -1;
	background: hsl(0, 0%, 8%);
	inset: 5px;
}
.popup:after {
	z-index: -2;
	filter: blur(2rem);
}

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 40vw;
	flex-wrap: wrap;
	padding-inline: 2rem;
}
.text-container {
	position: absolute;
	top: 10%;
	max-width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-container > .text-container > h4 {
	text-align: center;
	line-height: 22px;
	letter-spacing: 0.3px;
	font-weight: 500;
	font-size: 1.1rem;
}

.text-container:after {
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	scale: 1.2;
	position: absolute;
	margin: auto auto;
	z-index: -1;
	opacity: 0.4;
}
.text-container[data-option="good"]:after {
	background-image: url("../../assets/imgs/popup/cat.jfif");
	bottom: 0;
	left: 0;
	top: 20%;
	transform: rotate(-25deg);
}
.text-container[data-option="bad"]:after {
	background-image: url("../../assets/imgs/popup/cat2.png");
	bottom: 0;
	left: 70%;
	top: 150%;
	transform: rotate(25deg);
}
@media (width < 600px) {
	.text-container[data-option="bad"]:after {
		bottom: 0;
		left: 30%;
		top: 80%;
		transform: rotate(25deg);
	}
}

/* BUTTONS */
.popup-buttons {
	position: absolute;
	bottom: 0;
	margin-bottom: 2rem;
	display: flex;
	gap: 2rem;
}
.popup-option-button {
	border-radius: 10px;
	border: none;
	padding: 0.5rem 2rem;
	background: conic-gradient(
		from -0.5turn at bottom right,
		deeppink,
		cyan,
		rebeccapurple
	);
	color: white;
	text-shadow: 1px 1px 3px rgb(132, 132, 132);
	cursor: pointer;
	font-size: 1rem;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.282));
	transition: ease-in-out 0.15s;
	opacity: 0.5;
}
.button-active {
	opacity: 1;
}

.popup-option-button:is(#bad) {
	background: conic-gradient(
		from -0.5turn at bottom right,
		deeppink,
		rgb(255, 140, 122),
		rebeccapurple
	);
}
.popup-option-button:hover {
	opacity: 1;
}
